@import url("https://fonts.googleapis.com/css2?family=Basic&family=Poly:ital@0;1&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", serif;
  color: "#3c3830";
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  appearance: none;
}

.no-scroll::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dcdada !important;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #b7abab !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cb9e9e;
}

.loader {
  width: 50px;
  height: 165px;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  animation: bounce 2s linear infinite;
}
.loader::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 48px;
  width: 48px;
  background: #bcebf6;
  border-radius: 4px;
  animation: rotate 2s linear infinite;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translate(-50%, 0px);
    height: 20px;
  }
  20% {
    transform: translate(-25%, 85px);
    height: 28px;
  }
  25% {
    transform: translate(-25%, 110px);
    height: 12px;
  }
  70% {
    transform: translate(-75%, 85px);
    height: 28px;
  }
  75% {
    transform: translate(-75%, 108px);
    height: 12px;
  }
}
@keyframes rotate {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(-90deg);
  }
}

@layer utilities {
  .padding {
    @apply sm:px-30 px-8 sm:py-24 py-12;
  }

  .padding-ctn {
    @apply 2xl:container 2xl:mx-auto lg:px-[4rem] sm:px-[2rem] px-3;
  }

  .padding-x {
    @apply lg:px-[4rem] sm:px-[2rem] px-3;
  }
  .flex-c-b {
    @apply flex items-center justify-between;
  }
  .flex-c {
    @apply flex items-center;
  }
  .sub-heading {
    @apply font-basis text-sm text-primary-black font-bold;
  }
  .hover-link {
    @apply hover:underline transition-all duration-500 ease-out;
  }
}
